div.debut {
  font-size: 1.5em;
}
table {
  font-size: 1.5em;
  border-collapse: collapse;
  text-align: center;
}
th,
td {
  border: 0.2em solid;
  border-spacing: 10em;
  padding: 0.8em;
  width: 30%;
}
th {
  color: rgb(110, 182, 43);
  text-align: left;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}
tr#colorise {
  background-color: rgb(119, 119, 128);
  color: blue;
}
form {
  margin: 3em 0 0 15em;
}
#formation {
  margin-bottom: 2em;
}
.spanif {
  font-size: 2em;
}
#boxed {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
padding: auto;
}
#luna {
  margin-top: 2em;
  margin-left: 5em;
}
#personne {
 font-size: 2em;
 text-decoration: underline;
 margin-left: 5em;
}
p.etalon {
  text-align: center;
}
#container {
  display: flex;
  height: 600px;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

}
.box {
  width: 10%;
}
.box4{
  order: 1;
 
}
.box6 {
 order: 0;
 flex-shrink: 3;
 box-shadow: ;
}