#blockpage {
display: grid;
grid-template-columns: 200px 1fr 1fr 1fr;
grid-template-rows: 150px 100px 400px 1fr 100px;
grid-row-gap: 20px;
grid-column-gap: 10px;
font-size: 1.5vh;
}
header, #transition, #secondcontainer, #blockba {
    margin-left: 0.01em;
}



@media (max-width: 700px) {
    #thirdcontainer {
        grid-row: 2;
        color: rgb(199, 73, 15);
    
    }
    }


#lisere {
    grid-column: 1;
    grid-row: 1;
    background-color: blue;
    
   
}
#try3 {
    display: flex;
    align-items:center;
   flex:1;
   justify-content:center;
   width: 200px;
   max-width: 14%;
   min-width: 8%;
   position:fixed;
   
 
}

@media (max-width: 700px) {
    #lisere {
        margin-right: 5em;

    }
}

#coold {
    display: flex;
    flex-flow: column;
    background-color: brown;
    justify-content: center;
    height: auto;

    
    
   
    
}
#imagebtc {
    height: auto;
    max-width: 100%;
}

    
@media (max-width: 1450px) {
    
        #blockpage {
            display: grid;
            grid-template-columns: 0.5fr 1fr 1fr 1fr;
    }
}
#transition {
    background-color: darkgreen;
    grid-column: 2 / span 3;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.2em;
    text-shadow: 1px 1px rgb(18, 118, 212);
    
}
#transition p {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: yellow;
    height: 60px;
    padding-bottom: 2v;
    }
    @media (max-width: 1450px) {
        #transition p { 
            color: darkred;
    }
    }

header {
    grid-column: 2;
    background-color: chocolate;
    text-align: center;
}
#longueliste {
    background-color: aqua;
    grid: 1 / 3;
    
}
ul {
    display: flex;
    justify-content: space-around;
    height: 150px;
    align-items: center;
    background-color: blue;
    margin-top: -0.03em;
}
@media (max-width: 1450px) {
    ul {
        color: yellow;
        display: flex;
        flex-flow: column;
    }
    h1 {
        color: brown;
    }
}
@media (max-width: 1050px) {
    ul {
        color: chartreuse;
    }
}
ul li {
    list-style-type: decimal;

}

#container {

grid-area: 1 / 4 ;
background-color: brown;
padding-top: 0.5em;
}

#secondcontainer { 
    grid-column: 2;
    grid-row: 3;
    background-color: blue;
    overflow: auto;

}

#thirdcontainer {
    grid-column: 3;
    grid-row: 3;
    background-color: blueviolet;
}
#shadowtext { 
grid-column: 4;
grid-row: 3;
background-color: aquamarine;
border: 5px dashed green;
overflow: hidden;
}


#fifthcontainer {
    padding-top: 3em;
   
}
#secondcontainer, #thirdcontainer, #shadowtext {
    border: 10px solid rgb(236, 194, 8);
}
#blokba {
    
    background-color: rgb(43, 226, 73);
    grid-column: 2 / span 3;
    grid-row: 4 ;
    border: 3px ridge darkorchid;
    border-radius: 10px;
    text-align: justify;

}

@media (max-width: 750px) {
    #blockpage {
        display: grid;
        grid-template-columns: 0.5fr 1fr 1fr 1fr;
grid-template-rows: 150px 100px 200px 200px 200px 100px;

    }
}

@media (max-width: 700px) {
    #secondcontainer {
        grid-column: 2 /6
       
        
    
    }
    }
@media (max-width: 700px) {
#thirdcontainer {
    grid-row: 4;
    grid-column: 2/6;
   
    
    

}
}
@media (max-width: 700px) {
    #shadowtext {
        grid-row: 5;
        grid-column: 2/6;
        
    
    }
    }
    @media (max-width: 700px) {
        #blokba {
            grid-row: 6;
            
        
        }
        }
        @media (max-width: 550px) {
            #blockpage {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 150px 100px 200px 200px 200px 100px;
        margin-left: -30%;
        
            }
            @media (max-width: 750px) {
                #lisere {
                    display: none;
                
                }